<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BetterScent</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BetterScent</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="https://docs.google.com/presentation/d/1uk6osUZU2Z3fCRTPg8a_4yTKuR7mln5y03O3fShnHpM/edit?usp=sharing">Slides</a></li>
            <li><a href="/contact">Contact</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><br><br>




 <div class="container">
    <div class="starter-template">
        <h2>About BetterScent</h2>
        <h3>Why BetterScent?</h3>
        <p>I created BetterScent for my Insight Data Science project.
          It was born out of a problem I had a few months back - I was looking for perfume that was similar
          in scent to the perfume I already had. 
          I went to a major perfume department store and asked a salesperson if she could recommend a new fragrance for me, 
          given the one I already use. 
          She was helpful, but there were a few issues with her recommendations that I realized that 
          no person could not solve easily.
        </p>
        <p>
          First, there was no way she could have smelled all 200+ perfumes and colognes in the store. 
          Not only is the process time-consuming, but it would essentially be impossible for anyone
          to memorize every single fragrance and be able to retrieve details about each fragrance
          upon customer request. 
        </p>
        <p>
          Second, odor fatigue is a real thing. We've all had that problem where after smelling
          three different fragrances, everything after starts smelling the same. This problem 
          also means that if you choose to purchase the tenth one you smell, it's not going to smell
          the same when you go home and try it on again.
        </p>
        <p>
          To solve these issues, I created BetterScent - a perfume recommender that "smells" them all for you. You tell 
          BetterScent the fragrance you currently use, it will find similar perfumes and recommend one
          with high user ratings - one that smells similar to whatever you already have.
          
        </p>

        <h3>How does it work?</h3>
        <p>1. Tell us the fragrance you currently use.</p>
        <p>2. We will find similar fragrances using our large database of over 42,000 fragrances. </p>
        <p>3. Of those, we will recommend a fragrance with the highest user ratings.</p>
    </div>

<script src="static/js/bootstrap.min.js"></script>
  </body>
</html>