<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BetterScent</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BetterScent</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://docs.google.com/presentation/d/1uk6osUZU2Z3fCRTPg8a_4yTKuR7mln5y03O3fShnHpM/edit?usp=sharing">Slides</a></li>
            <li class="active"><a href="/contact">Contact</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><br><br>




 <div class="container">
    <div class="starter-template">
        <h2>Contact </h2>
        <p>Hi!</p>
        <p>I am a neuroscience PhD student at Harvard and I use a tiny worm called C. elegans to study order and evolvability of the nervous system. 
           I am also currently a fellow at Insight Data Science in Silicon Valley.
           I grew up in Singapore, went to high school in Atlanta, and to the University of Southern California for undergrad, where I majored in biochemistry and did lots of neuroscience research.</p>
        <p>In my spare time I like rock climbing, visiting exotic countries, and cooking an assortment of cuisines that are unrelated to my ethnic background. 
           In a previous life I did policy debate for 8 years in high school and college, was a nationally ranked rock climber, and read lots of books.
           </p>
        <p>
          You can find me on 
        <a href=https://www.linkedin.com/in/candice-yip/>LinkedIn</a>. 
        </p>
        <p>
        And here are my 
        <a href=https://github.com/zcandiceyip>Github</a> and 
        <a href=https://www.flickr.com/photos/64248311@N08/albums>Flickr</a> accounts.
        </p>



    </div>

<script src="static/js/bootstrap.min.js"></script>
  </body>
</html>